In [1]:
# set up dependencies
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import sklearn.datasets as dta
from scipy.stats import linregress
from pprint import pprint

# read in google play store csv data
GplayStore_csv_path = "Resources/Google-Playstore-Full.csv"

df = pd.read_csv(GplayStore_csv_path)
df

C:\Users\Pucki\anaconda3\envs\PyData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,29-Mar-19,Varies with device,Varies with device,NaN,NaN,NaN,NaN
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,29-Mar-19,Varies with device,Varies with device,NaN,NaN,NaN,NaN
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,20-Sep-18,5.0 and up,2.2.0,NaN,NaN,NaN,NaN
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,22-Mar-19,4.2 and up,4.18.2,NaN,NaN,NaN,NaN
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,1-Apr-19,Varies with device,Varies with device,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267047,Community Healthplex,HEALTH_AND_FITNESS,5,1,100+,4.2M,0,Everyone,27-Jul-18,5.0 and up,1.0.4.228,NaN,NaN,NaN,NaN
267048,Pet ads: Buy & Sell,BUSINESS,2.6,5,500+,8.4M,0,Everyone,22-Oct-18,4.0.3 and up,1.8,NaN,NaN,NaN,NaN
267049,Collectors Market: Buy & Sell,BUSINESS,3.28571,7,"1,000+",7.9M,0,Everyone,13-Mar-19,4.0.3 and up,2.4,NaN,NaN,NaN,NaN
267050,"Car Market, Buy & Sell",BUSINESS,5,1,"1,000+",8.2M,0,Everyone,27-Aug-18,4.0.3 and up,1.7,NaN,NaN,NaN,NaN
267051,Selfie with Ariana Grande,PHOTOGRAPHY,4.61111,18,"1,000+",7.8M,0,Everyone,3-Oct-18,4.0.3 and up,1,NaN,NaN,NaN,NaN

In [2]:
df.count()

App Name           267051
Category           267051
Rating             267052
Reviews            267051
Installs           267052
Size               267052
Price              267052
Content Rating     267052
Last Updated       267052
Minimum Version    267051
Latest Version     267049
Unnamed: 11            18
Unnamed: 12             3
Unnamed: 13             2
Unnamed: 14             1
dtype: int64

In [3]:
df["Category"].value_counts(100)

EDUCATION                      0.125047
TOOLS                          0.080853
BOOKS_AND_REFERENCE            0.080048
ENTERTAINMENT                  0.077154
MUSIC_AND_AUDIO                0.066939
                                 ...
 Channel 2 News                0.000004
 Accounting                    0.000004
6                              0.000004
TRAVEL                         0.000004
 super loud speaker booster    0.000004
Name: Category, Length: 67, dtype: float64

In [4]:
#simple_df = df.loc[df["Category"] == "GAME_ACTION"]
simple_df = df[(df['Category'] == "GAME_ACTION") | (df['Category'] == "GAME_ACTION") | (df['Category'] == "GAME_ADVENTURE") | (df['Category'] == "GAME_ARCADE") | (df['Category'] == "GAME_BOARD") | (df['Category'] == "GAME_CARD") | (df['Category'] == "GAME_CASINO") | (df['Category'] == "GAME_CASUAL") | (df['Category'] == "GAME_EDUCATIONAL") | (df['Category'] == "GAME_MUSIC") | (df['Category'] == "GAME_PUZZLE") | (df['Category'] == "GAME_RACING") | (df['Category'] == "GAME_ROLE_PLAYING") | (df['Category'] == "GAME_SIMULATION") | (df['Category'] == "GAME_SPORTS") | (df['Category'] == "GAME_STRATGEY") | (df['Category'] == "GAME_TRIVIA") | (df['Category'] == "GAME_WORD")]
simple_df.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
46,King of Crabs,GAME_ACTION,3.280254841,785,"500,000+",72M,0,Everyone 10+,7-Mar-19,4.4 and up,1.0.8,NaN,NaN,NaN,NaN
47,Match 3 App Rewards: Daily Game Rewards,GAME_CASUAL,4.520161152,248,"10,000+",23M,0,Everyone,20-Feb-19,4.3 and up,4.1.1,NaN,NaN,NaN,NaN
48,Brown Dust,GAME_ROLE_PLAYING,4.476287842,70260,"1,000,000+",81M,0,Teen,1-Apr-19,4.4 and up,1.38.7,NaN,NaN,NaN,NaN
49,Poly - Coloring Puzzle Art Book,GAME_PUZZLE,4.580865383,878,"10,000+",44M,0,Everyone,28-Mar-19,4.1 and up,1.5,NaN,NaN,NaN,NaN
50,Legend of Empress,GAME_ROLE_PLAYING,3.819999933,750,"50,000+",24M,0,Teen,30-Mar-19,4.0 and up,1.0.4,NaN,NaN,NaN,NaN

In [5]:
split_simple_df = simple_df['Category'].str.split('_', n=1,expand=True).rename(columns ={0:'Category', 1:'Sub Category'})
split_simple_df

       Category  Sub Category
46         GAME        ACTION
47         GAME        CASUAL
48         GAME  ROLE_PLAYING
49         GAME        PUZZLE
50         GAME  ROLE_PLAYING
...         ...           ...
266973     GAME          WORD
266995     GAME     ADVENTURE
267014     GAME    SIMULATION
267024     GAME        ARCADE
267028     GAME  ROLE_PLAYING

[21595 rows x 2 columns]

In [6]:
simple_df[['Category', 'Sub Category']] = simple_df['Category'].str.split('_', n=1,expand=True)
simple_df

C:\Users\Pucki\anaconda3\envs\PyData\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Sub Category
46,King of Crabs,GAME,3.280254841,785,"500,000+",72M,0,Everyone 10+,7-Mar-19,4.4 and up,1.0.8,NaN,NaN,NaN,NaN,ACTION
47,Match 3 App Rewards: Daily Game Rewards,GAME,4.520161152,248,"10,000+",23M,0,Everyone,20-Feb-19,4.3 and up,4.1.1,NaN,NaN,NaN,NaN,CASUAL
48,Brown Dust,GAME,4.476287842,70260,"1,000,000+",81M,0,Teen,1-Apr-19,4.4 and up,1.38.7,NaN,NaN,NaN,NaN,ROLE_PLAYING
49,Poly - Coloring Puzzle Art Book,GAME,4.580865383,878,"10,000+",44M,0,Everyone,28-Mar-19,4.1 and up,1.5,NaN,NaN,NaN,NaN,PUZZLE
50,Legend of Empress,GAME,3.819999933,750,"50,000+",24M,0,Teen,30-Mar-19,4.0 and up,1.0.4,NaN,NaN,NaN,NaN,ROLE_PLAYING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266973,WordDeck,GAME,4.5,8,"1,000+",4.3M,0,Everyone,14-Sep-18,4.0 and up,1.1.1,NaN,NaN,NaN,NaN,WORD
266995,Head 'n' Trails : Finger dodge,GAME,4.35294,34,500+,Varies with device,0,Everyone,3-Jun-17,Varies with device,Varies with device,NaN,NaN,NaN,NaN,ADVENTURE
267014,3D Earth Airplane Flying,GAME,3.21429,14,"1,000+",66M,0,Everyone,16-Jan-18,7.0 and up,1.0.7,NaN,NaN,NaN,NaN,SIMULATION
267024,Bricks Breakout,GAME,4.4,5,100+,2.4M,0,Everyone,2-Nov-16,3.2 and up,1.1,NaN,NaN,NaN,NaN,ARCADE
267028,?? - ??? ?? ?? ??? ???? ??,GAME,4.06343,1277,"500,000+",98M,0,Teen,18-Feb-19,4.1 and up,4.96.02,NaN,NaN,NaN,NaN,ROLE_PLAYING

In [7]:
NewOrder = ['App Name', 'Category', 'Sub Category','Rating','Reviews','Installs','Size','Price','Content Rating','Last Updated','Minimum Version','Latest Version','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14']

In [8]:
simple_df = simple_df[NewOrder]
simple_df.head(5)

,App Name,Category,Sub Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
46,King of Crabs,GAME,ACTION,3.280254841,785,"500,000+",72M,0,Everyone 10+,7-Mar-19,4.4 and up,1.0.8,NaN,NaN,NaN,NaN
47,Match 3 App Rewards: Daily Game Rewards,GAME,CASUAL,4.520161152,248,"10,000+",23M,0,Everyone,20-Feb-19,4.3 and up,4.1.1,NaN,NaN,NaN,NaN
48,Brown Dust,GAME,ROLE_PLAYING,4.476287842,70260,"1,000,000+",81M,0,Teen,1-Apr-19,4.4 and up,1.38.7,NaN,NaN,NaN,NaN
49,Poly - Coloring Puzzle Art Book,GAME,PUZZLE,4.580865383,878,"10,000+",44M,0,Everyone,28-Mar-19,4.1 and up,1.5,NaN,NaN,NaN,NaN
50,Legend of Empress,GAME,ROLE_PLAYING,3.819999933,750,"50,000+",24M,0,Teen,30-Mar-19,4.0 and up,1.0.4,NaN,NaN,NaN,NaN

In [9]:
simple_df_update = simple_df.drop(columns=['Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'], axis=1)
simple_df_update.head()

,App Name,Category,Sub Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
46,King of Crabs,GAME,ACTION,3.280254841,785,"500,000+",72M,0,Everyone 10+,7-Mar-19,4.4 and up,1.0.8
47,Match 3 App Rewards: Daily Game Rewards,GAME,CASUAL,4.520161152,248,"10,000+",23M,0,Everyone,20-Feb-19,4.3 and up,4.1.1
48,Brown Dust,GAME,ROLE_PLAYING,4.476287842,70260,"1,000,000+",81M,0,Teen,1-Apr-19,4.4 and up,1.38.7
49,Poly - Coloring Puzzle Art Book,GAME,PUZZLE,4.580865383,878,"10,000+",44M,0,Everyone,28-Mar-19,4.1 and up,1.5
50,Legend of Empress,GAME,ROLE_PLAYING,3.819999933,750,"50,000+",24M,0,Teen,30-Mar-19,4.0 and up,1.0.4

In [10]:
simple_df_update.to_csv('sample.csv')

In [11]:
simple_df_update.dtypes

App Name           object
Category           object
Sub Category       object
Rating             object
Reviews            object
Installs           object
Size               object
Price              object
Content Rating     object
Last Updated       object
Minimum Version    object
Latest Version     object
dtype: object

In [12]:
simple_df_update['Price'] = simple_df_update['Price'].astype(int)

ValueError: invalid literal for int() with base 10: '$2.99 '

In [ ]:
simple_df_update

In [ ]:
simple_df_update.head()

In [ ]:
simple_df_update.head(600)
simple_df_update.dtypes

In [ ]:
simple_df_update.Price.astype(float).mean()
simple_df_update['Sub Category'].value_counts()

In [ ]:
simple_df_update['Content Rating'].value_counts()

In [ ]:
simple_df_update['Size'].value_counts()